#### Q-5. Uber is a taxi service provider as we know, we need to predict the high booking area using an Unsupervised algorithm and price for the location using a supervised algorithm and use some map function to display the data

In [6]:
import pandas as pd
df = pd.read_csv("rideshare_kaggle.csv")

In [7]:
df.head()

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,...,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,...,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,...,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,...,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800

In [8]:
df.tail()

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
693066,616d3611-1820-450a-9845-a9ff304a4842,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693067,633a3fc3-1f86-4b9e-9d48-2b7132112341,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693068,64d451d0-639f-47a4-9b7c-6fd92fbd264f,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693069,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693070,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800

In [9]:
df = df.drop(columns=['timezone', 'datetime', 'product_id', 'latitude', 'longitude', 'id'])
df.shape

(693071, 51)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693071 entries, 0 to 693070
Data columns (total 51 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   timestamp                    693071 non-null  float64
 1   hour                         693071 non-null  int64
 2   day                          693071 non-null  int64
 3   month                        693071 non-null  int64
 4   source                       693071 non-null  object
 5   destination                  693071 non-null  object
 6   cab_type                     693071 non-null  object
 7   name                         693071 non-null  object
 8   price                        637976 non-null  float64
 9   distance                     693071 non-null  float64
 10  surge_multiplier             693071 non-null  float64
 11  temperature                  693071 non-null  float64
 12  apparentTemperature          693071 non-null  float64
 13  short_summary                693071 non-null  object
 14  long_summary                 693071 non-null  object
 15  precipIntensity              693071 non-null  float64
 16  precipProbability            693071 non-null  float64
 17  humidity                     693071 non-null  float64
 18  windSpeed                    693071 non-null  float64
 19  windGust                     693071 non-null  float64
 20  windGustTime                 693071 non-null  int64
 21  visibility                   693071 non-null  float64
 22  temperatureHigh              693071 non-null  float64
 23  temperatureHighTime          693071 non-null  int64
 24  temperatureLow               693071 non-null  float64
 25  temperatureLowTime           693071 non-null  int64
 26  apparentTemperatureHigh      693071 non-null  float64
 27  apparentTemperatureHighTime  693071 non-null  int64
 28  apparentTemperatureLow       693071 non-null  float64
 29  apparentTemperatureLowTime   693071 non-null  int64
 30  icon                         693071 non-null  object
 31  dewPoint                     693071 non-null  float64
 32  pressure                     693071 non-null  float64
 33  windBearing                  693071 non-null  int64
 34  cloudCover                   693071 non-null  float64
 35  uvIndex                      693071 non-null  int64
 36  visibility.1                 693071 non-null  float64
 37  ozone                        693071 non-null  float64
 38  sunriseTime                  693071 non-null  int64
 39  sunsetTime                   693071 non-null  int64
 40  moonPhase                    693071 non-null  float64
 41  precipIntensityMax           693071 non-null  float64
 42  uvIndexTime                  693071 non-null  int64
 43  temperatureMin               693071 non-null  float64
 44  temperatureMinTime           693071 non-null  int64
 45  temperatureMax               693071 non-null  float64
 46  temperatureMaxTime           693071 non-null  int64
 47  apparentTemperatureMin       693071 non-null  float64
 48  apparentTemperatureMinTime   693071 non-null  int64
 49  apparentTemperatureMax       693071 non-null  float64
 50  apparentTemperatureMaxTime   693071 non-null  int64
dtypes: float64(27), int64(17), object(7)
memory usage: 269.7+ MB

In [11]:
df_categorical = df[['source', 'destination', 'cab_type','name','short_summary','long_summary']]
df_categorical.describe()

,source,destination,cab_type,name,short_summary,long_summary
count,693071,693071,693071,693071,693071,693071
unique,12,12,2,13,9,11
top,Financial District,Financial District,Uber,UberXL,Overcast,Mostly cloudy throughout the day.
freq,58857,58851,385663,55096,218895,202340

In [12]:
duplicate = df.duplicated()
print(df[duplicate])

           timestamp  hour  day  month                   source
12966   1.543278e+09     0   27     11         Haymarket Square  \
33270   1.544910e+09    21   15     12            North Station
39898   1.545000e+09    22   16     12        Boston University
46782   1.544730e+09    19   13     12            South Station
48384   1.543824e+09     8    3     12         Haymarket Square
...              ...   ...  ...    ...                      ...
691676  1.543430e+09    18   28     11         Theatre District
691761  1.544922e+09     0   16     12         Theatre District
692491  1.543294e+09     4   27     11         Theatre District
692676  1.543462e+09     3   29     11         Haymarket Square
692714  1.543441e+09    21   28     11  Northeastern University

                    destination cab_type    name  price  distance  ...
12966          Theatre District     Uber    Taxi    NaN      1.16  ...  \
33270             South Station     Lyft  Shared    3.0      2.13  ...
39898             North Station     Uber    Taxi    NaN      3.39  ...
46782               Beacon Hill     Uber    Taxi    NaN      2.50  ...
48384                  West End     Uber     WAV    7.5      0.61  ...
...                         ...      ...     ...    ...       ...  ...
691676            South Station     Uber   UberX    7.0      0.55  ...
691761                North End     Uber   UberX    8.5      1.57  ...
692491  Northeastern University     Lyft     Lux   16.5      2.16  ...
692676              Beacon Hill     Uber    Taxi    NaN      1.36  ...
692714         Theatre District     Uber     WAV    8.5      2.81  ...

        precipIntensityMax  uvIndexTime  temperatureMin temperatureMinTime
12966               0.1225   1543251600           40.45         1543233600  \
33270               0.0074   1544893200           39.54         1544929200
39898               0.1254   1544979600           38.94         1544954400
46782               0.0001   1544716800           18.29         1544688000
48384               0.0004   1543852800           42.86         1543896000
...                    ...          ...             ...                ...
691676              0.0000   1543420800           33.85         1543399200
691761              0.0074   1544893200           39.54         1544929200
692491              0.1227   1543251600           40.35         1543233600
692676              0.0001   1543420800           33.10         1543402800
692714              0.0000   1543420800           33.70         1543399200

       temperatureMax  temperatureMaxTime  apparentTemperatureMin
12966           46.49          1543255200                   37.17  \
33270           54.47          1544896800                   36.46
39898           43.73          1544990400                   33.99
46782           33.83          1544731200                   13.79
48384           57.42          1543852800                   39.73
...               ...                 ...                     ...
691676          42.61          1543438800                   30.03
691761          54.47          1544896800                   36.46
692491          46.59          1543255200                   36.96
692676          42.18          1543420800                   29.11
692714          42.60          1543438800                   29.88

        apparentTemperatureMinTime  apparentTemperatureMax
12966                   1543291200                   43.84  \
33270                   1544929200                   53.80
39898                   1545019200                   38.39
46782                   1544688000                   32.85
48384                   1543896000                   56.75
...                            ...                     ...
691676                  1543399200                   36.57
691761                  1544929200                   53.80
692491                  1543291200                   43.97
692676                  1543392000                   35.75
692714                  1543399200                   36.56

        apparentTemperatureMaxTime
12966                   1543244400
33270                   1544896800
39898                   1544986800
46782                   1544734800
48384                   1543852800
...                            ...
691676                  1543438800
691761                  1544896800
692491                  1543251600
692676                  1543420800
692714                  1543435200

[1660 rows x 51 columns]

In [13]:
df.isnull().sum()

timestamp                          0
hour                               0
day                                0
month                              0
source                             0
destination                        0
cab_type                           0
name                               0
price                          55095
distance                           0
surge_multiplier                   0
temperature                        0
apparentTemperature                0
short_summary                      0
long_summary                       0
precipIntensity                    0
precipProbability                  0
humidity                           0
windSpeed                          0
windGust                           0
windGustTime                       0
visibility                         0
temperatureHigh                    0
temperatureHighTime                0
temperatureLow                     0
temperatureLowTime                 0
apparentTemperatureHigh            0
apparentTemperatureHighTime        0
apparentTemperatureLow             0
apparentTemperatureLowTime         0
icon                               0
dewPoint                           0
pressure                           0
windBearing                        0
cloudCover                         0
uvIndex                            0
visibility.1                       0
ozone                              0
sunriseTime                        0
sunsetTime                         0
moonPhase                          0
precipIntensityMax                 0
uvIndexTime                        0
temperatureMin                     0
temperatureMinTime                 0
temperatureMax                     0
temperatureMaxTime                 0
apparentTemperatureMin             0
apparentTemperatureMinTime         0
apparentTemperatureMax             0
apparentTemperatureMaxTime         0
dtype: int64

In [14]:
df.dropna(inplace=True)
df.shape

(637976, 51)

In [15]:
df.isnull().sum()

timestamp                      0
hour                           0
day                            0
month                          0
source                         0
destination                    0
cab_type                       0
name                           0
price                          0
distance                       0
surge_multiplier               0
temperature                    0
apparentTemperature            0
short_summary                  0
long_summary                   0
precipIntensity                0
precipProbability              0
humidity                       0
windSpeed                      0
windGust                       0
windGustTime                   0
visibility                     0
temperatureHigh                0
temperatureHighTime            0
temperatureLow                 0
temperatureLowTime             0
apparentTemperatureHigh        0
apparentTemperatureHighTime    0
apparentTemperatureLow         0
apparentTemperatureLowTime     0
icon                           0
dewPoint                       0
pressure                       0
windBearing                    0
cloudCover                     0
uvIndex                        0
visibility.1                   0
ozone                          0
sunriseTime                    0
sunsetTime                     0
moonPhase                      0
precipIntensityMax             0
uvIndexTime                    0
temperatureMin                 0
temperatureMinTime             0
temperatureMax                 0
temperatureMaxTime             0
apparentTemperatureMin         0
apparentTemperatureMinTime     0
apparentTemperatureMax         0
apparentTemperatureMaxTime     0
dtype: int64

In [16]:
df = df.drop_duplicates()
df.shape

(636929, 51)

In [17]:
category_f = ['source', 'destination', 'cab_type','name','short_summary','long_summary','icon']
from sklearn.preprocessing import LabelEncoder

for data in category_f:
    encoder = LabelEncoder()
    df[data] = encoder.fit_transform(df[data])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 636929 entries, 0 to 693070
Data columns (total 51 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   timestamp                    636929 non-null  float64
 1   hour                         636929 non-null  int64
 2   day                          636929 non-null  int64
 3   month                        636929 non-null  int64
 4   source                       636929 non-null  int32
 5   destination                  636929 non-null  int32
 6   cab_type                     636929 non-null  int32
 7   name                         636929 non-null  int32
 8   price                        636929 non-null  float64
 9   distance                     636929 non-null  float64
 10  surge_multiplier             636929 non-null  float64
 11  temperature                  636929 non-null  float64
 12  apparentTemperature          636929 non-null  float64
 13  short_summary                636929 non-null  int32
 14  long_summary                 636929 non-null  int32
 15  precipIntensity              636929 non-null  float64
 16  precipProbability            636929 non-null  float64
 17  humidity                     636929 non-null  float64
 18  windSpeed                    636929 non-null  float64
 19  windGust                     636929 non-null  float64
 20  windGustTime                 636929 non-null  int64
 21  visibility                   636929 non-null  float64
 22  temperatureHigh              636929 non-null  float64
 23  temperatureHighTime          636929 non-null  int64
 24  temperatureLow               636929 non-null  float64
 25  temperatureLowTime           636929 non-null  int64
 26  apparentTemperatureHigh      636929 non-null  float64
 27  apparentTemperatureHighTime  636929 non-null  int64
 28  apparentTemperatureLow       636929 non-null  float64
 29  apparentTemperatureLowTime   636929 non-null  int64
 30  icon                         636929 non-null  int32
 31  dewPoint                     636929 non-null  float64
 32  pressure                     636929 non-null  float64
 33  windBearing                  636929 non-null  int64
 34  cloudCover                   636929 non-null  float64
 35  uvIndex                      636929 non-null  int64
 36  visibility.1                 636929 non-null  float64
 37  ozone                        636929 non-null  float64
 38  sunriseTime                  636929 non-null  int64
 39  sunsetTime                   636929 non-null  int64
 40  moonPhase                    636929 non-null  float64
 41  precipIntensityMax           636929 non-null  float64
 42  uvIndexTime                  636929 non-null  int64
 43  temperatureMin               636929 non-null  float64
 44  temperatureMinTime           636929 non-null  int64
 45  temperatureMax               636929 non-null  float64
 46  temperatureMaxTime           636929 non-null  int64
 47  apparentTemperatureMin       636929 non-null  float64
 48  apparentTemperatureMinTime   636929 non-null  int64
 49  apparentTemperatureMax       636929 non-null  float64
 50  apparentTemperatureMaxTime   636929 non-null  int64
dtypes: float64(27), int32(7), int64(17)
memory usage: 235.7 MB

In [19]:
X = df.drop(columns = "price")
y = df['price']

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33,random_state=43)

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
a = LinearRegression()
a.fit(X_train,y_train)
a_pred = a.predict(X_test)
mse = mean_squared_error(y_test, a_pred)
print(mse)

42.18863490148854